#item-1 {
    background: red;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-2 {
    background: orange;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-3 {
    background: yellow;
    height: 150px;
    width: 150px;
    margin-bottom: 20px; 
}

#item-4 {
    background: green;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-5 {
    background: blue;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-6 {
    background: indigo;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-7 {
    background: purple;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-8 {
    background: brown;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-9 {
    background: black;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-10 {
    background: gray;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-11 {
    background: grey;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

#item-12 {
    background: turquoise;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}